<dl class="row" style="color: #0059ff;font-size:large;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
  <dt style="color: red;">Calories</dt>
  <dd>{{ details?.Calories }}</dd>

  <dt style="color: red;">Serving Size</dt>
  <dd>{{ details?.Serving_Size_G }}</dd>

  <dt style="color: red;">Fat Total</dt>
  <dd>{{ details?.Fat_Total_G }}</dd>

  <dt style="color: red;">Fat Saturated</dt>
  <dd>{{ details?.Fat_Saturated_G }}</dd>

  <dt style="color: red;">Protein</dt>
  <dd>{{ details?.Protein_G }}</dd>

  <dt style="color: red;">Sodium Mg</dt>
  <dd>{{ details?.Sodium_Mg }}</dd>

  <dt style="color: red;">Potassium Mg</dt>
  <dd>{{ details?.Potassium_Mg }}</dd>

  <dt style="color: red;">Cholesterol Mg</dt>
  <dd>{{ details?.Cholesterol_Mg }}</dd>

  <dt style="color: red;">Carbohydrates Total G</dt>
  <dd>{{ details?.Carbohydrates_Total_G }}</dd>

  <dt style="color: red;">Fiber G</dt>
  <dd>{{ details?.Fiber_G }}</dd>

  <dt style="color: red;">Sugar G</dt>
  <dd>{{ details?.Sugar_G }}</dd>

</dl>

<!-- <div class="tag qn">
  <ul>
    <li>Calories</li>
    <li>Serving Size</li>
    <li>Fat Total</li>
    <li>Fat Saturated</li>
    <li>Protein</li>
    <li>Sodium Mg</li>
    <li>Potassium Mg</li>
    <li>Cholesterol Mg</li>
    <li>Carbohydrates Total G</li>
    <li>Fiber G</li>
    <li>Sugar G</li>
  </ul>
</div>

<div class="tag ans">
  <ul>
    <li>{{ details?.Calories }}</li>
    <li>{{ details?.Serving_Size_G }}</li>
    <li>{{ details?.Fat_Total_G }}</li>
    <li>{{ details?.Fat_Saturated_G }}</li>
    <li>{{ details?.Protein_G }}</li>
    <li>{{ details?.Sodium_Mg }}</li>
    <li>{{ details?.Potassium_Mg }}</li>
    <li>{{ details?.Cholesterol_Mg }}</li>
    <li>{{ details?.Carbohydrates_Total_G }}</li>
    <li>{{ details?.Fiber_G }}</li>
    <li>{{ details?.Sugar_G }}</li>
    <a
      style="color: darkblue; background-color: whitesmoke; padding: 10px"
      [routerLink]="['/viewfood']"
      >Back</a
    >
  </ul>
</div> -->
