
<form class="container " action="Filter1view" method="post">
  <!-- <div class="card-body"> -->
  <div class="form-group">
    <label for="numberInput">Enter calories:</label>
    <input class="form-control" type="number"placeholder="Enter Calories" id="numberInput" name="numberInput" [(ngModel)]="numberInput" />
  </div>
<!-- </div> -->

  <button class="btn btn-outline-success mt-3" routerLinkActive="Active" [routerLink]="['/Filter',userid]" (click)="applyFilter()"[queryParams]="{ no: {numberInput} }">filter</button>
  <!-- <button class="btn btn-primary"><a routerLinkActive="Active" [routerLink]="['/Filter',userid]" (click)="applyFilter()"[queryParams]="{ no: {numberInput} }">filter</a></button> -->
</form>


















  <!-- <label for="numberInput">Enter a number:</label>
  <input type="text" id="numberInput" name="numberInput" />
  <td><a routerLinkActive="Active" [routerLink]="['/Filter', userid]" [queryParams]="{ no: '{{ numberInput }}' }">filter</a></td>
 -->
 <!-- <form action="Filter1view" method="post">
  <label for="numberInput">Enter a number:</label>
  <input type="number" id="numberInput" name="numberInput" [(ngModel)]="numberInput" />
  <td><a routerLinkActive="Active" [routerLink]="['/Filter',userid]" (click)="applyFilter()"[queryParams]="{ no: {numberInput} }">filter</a></td>
</form> -->

