<dl class="row" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">
  <dt>FirstName</dt>
  <dd>{{profile?.Firstname}}</dd>

  <dt>LastName</dt>
  <dd>{{profile?.Lastname}}</dd>

  <dt>Dob</dt>
  <dd>{{profile?.Dob}}</dd>

  <dt>UserGender</dt>
  <dd>{{ profile?.UserGenderNavigation?.GenderValue}}</dd>
  <dt>Height</dt>
  <dd>{{profile?.Height}}</dd>

  <dt>Weight</dt>
  <dd>{{profile?.Weight}}</dd>

  <dt>ExerciseLevel</dt>
  <dd>{{profile?.ExerciseLevelNavigation?.PalValue}}</dd>

  <dt>UserGoal</dt>
  <dd>{{profile?.UserGoalNavigation?.GoalValue}}</dd>


</dl>
